<h1>Book Query Home Page</h1>
<hr>
<h3>1</h3>
<p>{{books}}</p>
{% for book in books %}
    <br/>{{book}}
{% endfor %}

<hr>
<h3>2</h3>
<p>{{books_list}}</p>
{% for book in books_list %}
    <br/>{{book}}
{% endfor %}

<hr>
<h3>3</h3>
<p>{{object_list}}</p>
{% for book in object_list %}
    <br/>{{book}}
{% endfor %}
<hr>

<hr>
<h3>4</h3>
<h4>k1</h4>
<p>{{k1}}</p>
<h4>k2</h4>
<p>{{k2}}</p>
<h4>k3</h4>
<p>{{k3}}</p>
<h4>k4</h4>
<p>{{k4}}</p>
<h4>k5</h4>
<p>{{k5}}</p>
<h4>k6</h4>
<p>{{k6}}</p>
<p>{{my_context1}}</p>
<p>{{my_context2}}</p>
<p>{{my_context3}}</p>
{% for book in my_context %}
    <br/>{{book}}
{% endfor %}
<hr>